html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-family: 'Cooper Black', serif;
    text-align: center;
}
img {
    border: 0px;
}

.images {
    width: 900px;
    height: 900px;
    border: solid 1px black;
    font-size: 0px;
    margin: auto;
}