body {
    background-color: #b01c1c;
}

div.picture-holder {
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    float: left;
    border: solid 1px black;
}

div.favoriet {
    width: 300px;
    height: 150px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}
#pic {
    width: 900px;
    height: 1350px;
    border: solid 1px black;
    font-size: 0px;
    margin: auto;
}